<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<title>PentaHackathon</title>	
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<script type="text/javascript" src="/static/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/static/js/jquery.js" ></script>

		{% block reference %}
		{% endblock %}
	</head>

	<body>
		    {% block content %}

	        {% endblock %}					
		<script type="text/javascript" src="/static/js/bundle.js"></script>
	</body>
</html>

